pkgbase = <%= pkgbase %>
	pkgdesc = <%= description %>
	pkgver = <%= version %>
	pkgrel = 1
	url = <%= url %>
	arch = x86_64
	license = <%= license %>
	options = !strip
	source = clever-tools-<%= version %>_linux.tar.gz::https://clever-tools.clever-cloud.com/releases/<%= version %>/clever-tools-<%= version %>_linux.tar.gz
	sha256sums = <%= sha256 %>

pkgname = <%= pkgbase %>
